.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sm {
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
}

.md {
  width: var(--size-icon-lg);
  height: var(--size-icon-lg);
}

.lg {
  width: var(--size-10);
  height: var(--size-10);
}

.svg {
  width: 100%;
  height: 100%;
}

.spin {
  transform-origin: center;
  animation: spin 700ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
