.root {
  display: inline-flex;
  flex-shrink: 0;
}

.xs {
  width: var(--size-icon-xs);
  height: var(--size-icon-xs);
}

.sm {
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
}

.md {
  width: var(--size-icon-md);
  height: var(--size-icon-md);
}

.lg {
  width: var(--size-icon-lg);
  height: var(--size-icon-lg);
}

.xl {
  width: var(--size-icon-xl);
  height: var(--size-icon-xl);
}
